<div>
  <div>
    <h1>
      Quiz #<%= @the_quiz.id %> details
    </h1>

    <div>
      <div>
        <a href="/quizzes">
          Go back
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Topic
      </dt>
      <dd>
        <%= @the_quiz.topic %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_quiz.created_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>

- List of existing messages

<h2>
  Add a new message
</h2>

<form action="/insert_message" method="post">


  <input type="hidden" id="quiz_id_box" name="query_quiz_id" value="<%= @the_quiz.id %>">

  <div>
    <label for="body_box">
      Body
    </label>

    <textarea id="body_box" name="query_body" rows="3"></textarea>
  </div>

  <button>
    Create message
  </button>
</form>

<hr>
